
@{
    ViewBag.Title = "EditActivity";
    Layout = "~/Views/Admin/Admin_Layout.cshtml";
}

<!-- start sidebar menu -->
<div class="sidebar-container">
    <div class="sidemenu-container navbar-collapse collapse fixed-menu">
        <div id="remove-scroll">
            <ul class="sidemenu page-header-fixed p-t-20" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
                <li class="sidebar-toggler-wrapper hide">
                    <div class="sidebar-toggler">
                        <span></span>
                    </div>
                </li>
                <li class="sidebar-user-panel">
                    <div class="user-panel">
                        <div class="row">
                            <div class="sidebar-userpic">
                                <img src="@Session["head_icon"]" class="img-responsive" alt=""><!--icon placeholder-->
                            </div>
                        </div>
                        <div class="profile-usertitle">
                            <div class="sidebar-userpic-name">
                                @Session["admin"]
                            </div>
                        </div>
                        <div class="sidebar-userpic-btn">
                            <a class="tooltips" href="login.html" data-placement="top" data-original-title="Logout">
                                <i class="material-icons">input</i>
                            </a>
                        </div>
                    </div>
                </li>

                <li class="nav-item">
                    <a href="#" class="nav-link nav-toggle">
                        <i class="material-icons">business_center</i>
                        <span class="title">民宿订单</span>
                        <span class="arrow"></span>
                    </a>
                    <ul class="sub-menu">
                        <li class="nav-item">
                            <a href="/Admin/ViewHomestayOrder" class="nav-link ">
                                <span class="title">查看订单</span>
                            </a>
                        </li>
                        <li class="nav-item active">
                            <a href="/Admin/EditHomestayOrder" class="nav-link ">
                                <span class="title">修改订单</span>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item">
                    <a href="#" class="nav-link nav-toggle">
                        <i class="material-icons">business_center</i>
                        <span class="title">体验订单</span>
                        <span class="arrow"></span>
                    </a>
                    <ul class="sub-menu">
                        <li class="nav-item">
                            <a href="/Admin/ViewActivityOrder" class="nav-link ">
                                <span class="title">查看订单</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Admin/EditActivityOrder" class="nav-link ">
                                <span class="title">修改订单</span>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item">
                    <a href="#" class="nav-link nav-toggle">
                        <i class="material-icons">vpn_key</i>
                        <span class="title">房源</span>
                        <span class="arrow"></span>
                    </a>
                    <ul class="sub-menu">
                        <li class="nav-item">
                            <a href="/Admin/AddHomestay" class="nav-link ">
                                <span class="title">发布房源</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Admin/ViewHomestay" class="nav-link ">
                                <span class="title">查看房源</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Admin/EditHomestay" class="nav-link ">
                                <span class="title">修改房源</span>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item active">
                    <a href="#" class="nav-link nav-toggle">
                        <i class="material-icons">map</i>
                        <span class="title">体验</span>
                        <span class="arrow open"></span>
                    </a> 
                    <ul class="sub-menu">
                        <li class="nav-item">
                            <a href="/Admin/AddActivity" class="nav-link ">
                                <span class="title">发布体验</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Admin/ViewActivity" class="nav-link ">
                                <span class="title">查看体验</span>
                            </a>
                        </li>
                        <li class="nav-item active">
                            <a href="/Admin/EditActivity" class="nav-link ">
                                <span class="title">修改体验</span>
                                <span class="selected"></span>
                            </a>
                        </li>
                    </ul>
                </li>

            </ul>
        </div>
    </div>
</div>
<!-- end sidebar menu -->
<!-- start page content -->
<div class="page-content-wrapper">
    <div class="page-content">
        <div class="page-bar">
            <div class="page-title-breadcrumb">
                <div class=" pull-left">
                    <div class="page-title">修改体验</div>
                </div>
                <ol class="breadcrumb page-breadcrumb pull-right">
                    <li>
                        <i class="fa fa-home"></i>&nbsp;<a class="parent-item" href="/Admin/Index">主页</a>&nbsp;<i class="fa fa-angle-right"></i>
                    </li>
                    <li>
                        <a class="parent-item" href="">体验</a>&nbsp;<i class="fa fa-angle-right"></i>
                    </li>
                    <li class="active">修改体验</li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="card-box">
                    <div class="card-head">
                        <header>修改体验</header>
                        <button id="panel-button"
                                class="mdl-button mdl-js-button mdl-button--icon pull-right"
                                data-upgraded=",MaterialButton">
                            <i class="material-icons">more_vert</i>
                        </button>
                        <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
                            data-mdl-for="panel-button">
                            <li class="mdl-menu__item"><i class="material-icons">assistant_photo</i>Action</li>
                            <li class="mdl-menu__item"><i class="material-icons">print</i>Another action</li>
                            <li class="mdl-menu__item"><i class="material-icons">favorite</i>Something else here</li>
                        </ul>
                    </div>
                    <div class="card-body row">
                        <div class="col-lg-6 p-t-20">
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                                <input class="mdl-textfield__input" type="text" value="Jayesh" id="txtFirstName">
                                <label class="mdl-textfield__label">活动地点</label>
                            </div>
                        </div>
                        <div class="col-lg-6 p-t-20">
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                                <input class="mdl-textfield__input" type="email" value="Joshi" id="txtemail">
                                <label class="mdl-textfield__label">发起人姓名</label>
                                <span class="mdl-textfield__error"></span>
                            </div>
                        </div>
                        <div class="col-lg-6 p-t-20">
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                                <input class="mdl-textfield__input" type="text" value="12345671990"
                                       pattern="-?[0-9]*(\.[0-9]+)?" id="text5">
                                <label class="mdl-textfield__label" for="text5">发起人联系方式</label>
                                <span class="mdl-textfield__error">Number required!</span>
                            </div>
                        </div>
                        <div class="col-lg-6 p-t-20">
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                                <input class="mdl-textfield__input" type="text" value="Mumbai" id="txtCity">
                                <label class="mdl-textfield__label">活动地点</label>
                            </div>
                        </div>
                        <div class="col-lg-6 p-t-20">
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                                <input class="mdl-textfield__input" type="text" value="2017-05-21" id="date">
                                <label class="mdl-textfield__label">开始时间</label>
                            </div>
                        </div>
                        <div class="col-lg-6 p-t-20">
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                                <input class="mdl-textfield__input" type="text" value="2017-05-23" id="date1">
                                <label class="mdl-textfield__label">结束时间</label>
                            </div>
                        </div>
                        <div class="col-lg-6 p-t-20">
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label getmdl-select getmdl-select__fix-height txt-full-width">
                                <input class="mdl-textfield__input" type="text" id="list2" value="2" readonly tabIndex="-1">
                                <label for="list2" class="pull-right margin-0">
                                    <i class="mdl-icon-toggle__label material-icons">keyboard_arrow_down</i>
                                </label>
                                <label for="list2" class="mdl-textfield__label">最大人数限制</label>
                                <ul data-mdl-for="list2" class="mdl-menu mdl-menu--bottom-left mdl-js-menu">
                                    <li class="mdl-menu__item" data-val="1">1</li>
                                    <li class="mdl-menu__item" data-val="2">2</li>
                                    <li class="mdl-menu__item" data-val="3">3</li>
                                    <li class="mdl-menu__item" data-val="4">4</li>
                                    <li class="mdl-menu__item" data-val="5">5</li>
                                    <li class="mdl-menu__item" data-val="6">6</li>
                                    <li class="mdl-menu__item" data-val="7">7</li>
                                    <li class="mdl-menu__item" data-val="8">8</li>
                                    <li class="mdl-menu__item" data-val="9">9</li>
                                    <li class="mdl-menu__item" data-val="10">10</li>
                                    <li class="mdl-menu__item" data-val="11">11</li>
                                    <li class="mdl-menu__item" data-val="12">12</li>
                                    <li class="mdl-menu__item" data-val="13">13</li>
                                    <li class="mdl-menu__item" data-val="14">14</li>
                                    <li class="mdl-menu__item" data-val="15">15</li>
                                    <li class="mdl-menu__item" data-val="16">16</li>
                                    <li class="mdl-menu__item" data-val="17">17</li>
                                    <li class="mdl-menu__item" data-val="18">18</li>
                                    <li class="mdl-menu__item" data-val="19">19</li>
                                    <li class="mdl-menu__item" data-val="20">20</li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-lg-12 p-t-20">
                            <label class="control-label col-md-3">上传图片</label>
                            <form id="id_dropzone" class="dropzone dz-clickable">
                                <div class="dz-message">
                                    <div class="dropIcon">
                                        <i class="material-icons">cloud_upload</i>
                                    </div>
                                    <h3>请点击上传图片</h3>
                                </div>
                            </form>
                        </div>
                        <div class="col-lg-12 p-t-20">
                            <div class="mdl-textfield mdl-js-textfield txt-full-width">
                                <textarea class="mdl-textfield__input" rows="4"
                                          id="education"></textarea>
                                <label class="mdl-textfield__label" for="text7">活动介绍</label>
                            </div>
                        </div>
                        <div class="col-lg-12 p-t-20 text-center">
                            <button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect m-b-10 m-r-20 btn-pink">Submit</button>
                            <button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect m-b-10 btn-default">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- end page content -->
