
@{
    ViewBag.Title = "我的Adventure";
    Layout = "~/Views/Admin/Admin_Layout.cshtml";
}
<script>
    $(document).ready(function () {
           var message="@Session["message"]";
           if (message!= "") {
              alert(message);
             @{Session["message"] = null;}
            }
        })
</script>
<!--start page content-->
<div class="page-content-wrapper">
    <div class="page-content">
        <div class="page-bar">
            <div class="page-title-breadcrumb">
                <div class=" pull-left">
                    <div class="page-title">我的Adventure</div>
                </div>
                <ol class="breadcrumb page-breadcrumb pull-right">
                    <li>
                        <i class="fa fa-home"></i>&nbsp;<a class="parent-item" href="~/Home/Index">主页</a>&nbsp;<i class="fa fa-angle-right"></i>
                    </li>
                    <li>
                        <a class="parent-item active" href="~/Admin">我的Adventure</a>&nbsp;<i class="fa fa-angle-right"></i>
                    </li>
                </ol>
            </div>
        </div>
        <h2 style="margin:160px auto" class="text-center" >快从左边导航栏中选择你需要的查看的信息吧~</h2>
    </div>
</div>
<!--end page content-->
