
@{
    ViewBag.Title = "ViewActivity";
    Layout = "~/Views/Admin/Admin_Layout.cshtml";
}


<!-- start page content -->
<div class="page-content-wrapper">
    <div class="page-content">
        <div class="page-bar">
            <div class="page-title-breadcrumb">
                <div class=" pull-left">
                    <div class="page-title">查看旅行故事</div>
                </div>
                <ol class="breadcrumb page-breadcrumb pull-right">
                    <li>
                        <i class="fa fa-home"></i>&nbsp;<a class="parent-item" href="/Admin/Index">主页</a>&nbsp;<i class="fa fa-angle-right"></i>
                    </li>
                    <li>
                        <a class="parent-item" href="">旅行故事</a>&nbsp;<i class="fa fa-angle-right"></i>
                    </li>
                    <li class="active">查看旅行故事</li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card card-box">
                    <div class="card-head">
                        <header>查看旅行故事</header>
                        <div class="tools">
                            <a class="fa fa-repeat btn-color box-refresh" href="javascript:;"></a>
                            <a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>
                            <a class="t-close btn-color fa fa-times" href="javascript:;"></a>
                        </div>
                    </div>
                    <div class="card-body ">
                        <div class="table-scrollable">
                            <table class="table table-hover table-checkable order-column full-width" id="example4">
                                <thead>
                                    <tr>
                                        
                                        <th class="center"> 发布时间 </th>
                                        <th class="center"> 标题 </th>
                                        
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        for (int i = 0; i < ViewBag.BlogList.Length; i++)
                                        {
                                            <tr class="odd gradeX" onclick="window.location.href='../Blog/BlogDetail?BlogId=@ViewBag.BlogList[i].story_id'">
                                                <td class="center">@ViewBag.BlogList[i].times</td>
                                                <td class="center">@ViewBag.BlogList[i].title</td>
                                                
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end page content -->
</div>
