@{
    ViewBag.Title = "订单确认";
    Layout = "~/Views/Order/Order_Layout.cshtml";
}
<script>
    $(document).ready(function () {
      
        var productID = "@ViewBag.productID";
        var accessWay = "@ViewBag.accessWay";
        
            if (productID == "-1" || accessWay == "-1" ) {
                alert("Illegal Access!");
                window.location.href = "/Home";
            } 
    })
</script>
@{ 
    var orderType = "";
    var productID = ViewBag.productID;
    var accessWay = ViewBag.accessWay;
    if (ViewBag.accessWay == 1)
    {
        orderType = "homestay";
    }
    else { orderType = "activity"; }
}
<h1 class="book" style="margin-top:80px">Confirm your @orderType order</h1>

<div class="reg">

    <h1>赶快确认下列信息，开启您的奇妙之旅！</h1>

    <div class="members">
        <div class="adult">
            <h2>产品编号:@productID</h2>
            <h2>产品名称:@productID</h2>
            <h2>产品单价:@productID 元</h2>
        </div>

        <div class="clear"></div>
    </div>

    <div class="members">
        <h2>人数</h2>
        <div class="dropdown-button">
            <select class="dropdown" tabindex="10" data-settings='{"wrapperClass":"flat"}'>
                <option value="">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        </div>

        <div class="clear"></div>
    </div>

    <div class="book-pag" style="margin-top:20px">
        <h2>选择日期</h2>
        <div class="book-pag-frm1">
            <label>开始时间</label>
            <input class="date" id="datepicker1" type="text" value="Date" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '';}" required="">
        </div>
        <div class="book-pag-frm2">
            <label>结束时间</label>
            <input class="date" id="datepicker2" type="text" value="Date" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '';}" required="">
        </div>
        <div class="clear"></div>
    </div>

    <!--Date Picker-->

    <script src="~/Scripts/jquery-ui.js"></script>
    <script>
        $(function () {
            $("#datepicker,#datepicker1,#datepicker2").datepicker();
        });
    </script>
    <!--//Date Picker-->


    <div class="food">
        <h2>选择支付方式</h2>
        <div class="radio-btns">
            <div class="check_box"> <div class="radio"> <label><input type="radio" name="radio" checked=""><i></i>支付宝</label> </div></div>
            <div class="check_box"> <div class="radio"> <label><input type="radio" name="radio"><i></i>微信支付</label> </div></div>
            <div class="check_box"> <div class="radio"> <label><input type="radio" name="radio"><i></i>银联支付</label> </div></div>
            <div class="check_box"> <div class="radio"> <label><input type="radio" name="radio"><i></i>京东钱包</label> </div></div>
            <div class="check_box"> <div class="radio"> <label><input type="radio" name="radio"><i></i>Paypal</label> </div></div>
            <div class="check_box"> <div class="radio"> <label><input type="radio" name="radio"><i></i>云闪付</label> </div></div>

        </div>
    </div>

    <div class="submit">
        <input type="submit" class="book" value="提交预定">
    </div>

</div>
