@{
    ViewBag.Title = "登陆";
    Layout = "~/Views/Login/Login_Layout.cshtml";
}
<script>
    function turnToRegister() {
        window.location.href = "/Register";
    }
</script>

<div class="hero-wrap js-fullheight" style="background-image: url('../images/Login_bg.jpg');">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center" data-scrollax-parent="true">
            <div class="col-md-9 text-center ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
                <div class="top-content">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-8 " style="margin-top:60px">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 col-sm-offset-3 form-box">

                                <form role="form" action="" method="post" class="registration-form">

                                    <fieldset>
                                        <div class="form-top">
                                            <div class="form-top-left">
                                                <h3>Log in</h3>
                                                <h3>Adventure</h3>
                                                <h4>请提供您的登陆信息</h4>
                                            </div>
                                            <div class="form-top-right">
                                                <i class="fa fa-key"></i>
                                            </div>
                                        </div>
                                        <div class="form-bottom">
                                            <div class="form-group">
                                                <label class="sr-only" for="form-first-name">用户名</label>
                                                <input type="text" name="form-first-name" placeholder="User Name..." class="form-control" id="form-username">
                                            </div>
                                            <div class="form-group">
                                                <label class="sr-only" for="form-password">密码</label>
                                                <input type="password" name="form-password" placeholder="Password..." class="form-password form-control" id="form-password">
                                            </div>
                                            <div class="form-group">
                                                <label class="sr-only" for="form-repeat-password">确认密码</label>
                                                <input type="password" name="form-repeat-password" placeholder="Repeat password..."
                                                       class="form-repeat-password form-control" id="form-repeat-password">
                                            </div>
                                            <button type="button" class="btn btn-previous" onclick="turnToRegister()">注册</button>
                                            <button type="submit" class="btn btn-login">提交登陆</button>
                                        </div>
                                    </fieldset>
                                </form>


                            </div>


                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>







