
@{
    ViewBag.Title = "旅行故事";
}

<div class="hero-wrap js-fullheight" style="background-image: url('../images/bloghead.jpg');">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-start" data-scrollax-parent="true">
            <div class="col-md-9 ftco-animate mb-5 pb-5 text-center text-md-left" data-scrollax=" properties: { translateY: '70%' }">
                <h1 class="mb-4" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }" style="color:#000000">Travel Story</h1>
                <p data-scrollax="properties: { translateY: '30%', opacity: 1.6 }" style="color:#000000">分享旅行中中的点点滴滴</p>
            </div>
        </div>
    </div>
</div>

<section>
    <div class="rows inn-page-bg com-colo">
        <div class="container inn-page-con-bg tb-space pad-bot-redu-5" id="inner-page-title">
            <!-- TITLE & DESCRIPTION -->
            <div class="spe-title col-md-12">
                <h2>Holiday Tour <span>Blog</span> Posts</h2>
                <div class="title-line">
                    <div class="tl-1"></div>
                    <div class="tl-2"></div>
                    <div class="tl-3"></div>
                </div>
                <p>World's leading tour and travels Booking website,Over 30,000 packages worldwide. Book travel packages and enjoy your holidays with distinctive experience</p>
            </div>
            <!--===== POSTS ======-->
            <div class="rows">
                <div class="posts">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <img src="../images/iplace-6.jpg" alt="" />
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <h3>Thai island hopper east</h3>
                        <h5><span class="post_author">Author: Johnson</span><span class="post_date">Date: 12th May,2016</span><span class="post_city">City: Illunois</span></h5>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer.There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour</p>
                        <p>Randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.</p>
                        <a href="#" class="link-btn">Read more</a>
                    </div>
                </div>
                <div class="posts">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <img src="../images/iplace-2.jpg" alt="" />
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <h3>We are Offering the hottest offers</h3>
                        <h5><span class="post_author">Author: Johnson</span><span class="post_date">Date: 12th May,2016</span><span class="post_city">City: Illunois</span></h5>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer.There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour</p>
                        <p>Randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.</p>
                        <a href="#" class="link-btn">Read more</a>
                    </div>
                </div>
                <div class="posts">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <img src="../images/iplace-3.jpg" alt="" />
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <h3>Lorem ipsum dummy content</h3>
                        <h5><span class="post_author">Author: Johnson</span><span class="post_date">Date: 12th May,2016</span><span class="post_city">City: Illunois</span></h5>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer.There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour</p>
                        <p>Randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.</p>
                        <a href="#" class="link-btn">Read more</a>
                    </div>
                </div>
                <div class="posts">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <img src="../images/iplace-4.jpg" alt="" />
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <h3>Lorem ipsum dummy content</h3>
                        <h5><span class="post_author">Author: Johnson</span><span class="post_date">Date: 12th May,2016</span><span class="post_city">City: Illunois</span></h5>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer.There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour</p>
                        <p>Randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.</p>
                        <a href="#" class="link-btn">Read more</a>
                    </div>
                </div>
            </div>
            <!--===== POST END ======-->
        </div>
    </div>
</section>