@{
    ViewBag.Title = "体验活动";
}

<script>

</script>

<div class="hero-wrap js-fullheight" style="background-image: url('../images/Publish_bg.jpg');">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-start" data-scrollax-parent="true">
            <div class="col-md-9 ftco-animate mb-5 pb-5 text-center text-md-left" data-scrollax=" properties: { translateY: '70%' }">
                <h1 class="mb-4"  data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">精选体验活动</h1>
                <p  data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><b>尝试一下新的当地居民创设的体验活动？万种风情等你来探索！</b></p>
            </div>
        </div>
    </div>
</div>

<section class="ftco-section justify-content-end ftco-search">
    <div class="container-wrap ml-auto">
        <div class="row no-gutters">
            <div class="col-md-12 nav-link-wrap">
                <div class="nav nav-pills justify-content-center text-center" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <a class="nav-link" id="v-pills-1-tab" data-toggle="pill" href="#v-pills-1" role="tab" aria-controls="v-pills-1" aria-selected="true">民宿</a>

                    <a class="nav-link active" id="v-pills-2-tab" data-toggle="pill" href="#v-pills-2" role="tab" aria-controls="v-pills-2" aria-selected="false">体验活动</a>

                </div>
            </div>
            <div class="col-md-12 tab-wrap">

                <div class="tab-content p-4 px-5" id="v-pills-tabContent">

                    <div class="tab-pane fade " id="v-pills-1" role="tabpanel" aria-labelledby="v-pills-nextgen-tab">
                        <form action="/HomeStay/Index" class="search-destination" method="post">
                            <div class="row">
                                <div class="col-md align-items-end">
                                    <div class="form-group">
                                        <label for="#">目的地</label>
                                        <div class="form-field">
                                            <div class="icon"><span class="icon-map-marker"></span></div>
                                            <input type="text" name="destination" class="form-control" placeholder="您的目的地">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md align-items-end">
                                    <div class="form-group">
                                        <label for="#">入住时间</label>
                                        <div class="form-field">
                                            <div class="icon"><span class="icon-map-marker"></span></div>
                                            <input type="text" name="start_time" class="form-control checkin_date" placeholder="您的入住时间">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md align-items-end">
                                    <div class="form-group">
                                        <label for="#">退房时间</label>
                                        <div class="form-field">
                                            <div class="icon"><span class="icon-map-marker"></span></div>
                                            <input type="text" name="end_time" class="form-control checkout_date" placeholder="您的退房时间">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md align-items-end">
                                    <div class="form-group">
                                        <label for="#">入住人数</label>
                                        <div class="form-field">
                                            <div class="select-wrap">
                                                <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                                                <select name="person_num" id="" class="form-control">
                                                    <option value="1" selected>1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">5</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md align-self-end">
                                    <div class="form-group">
                                        <div class="form-field">
                                            <input type="submit" value="搜索" class="form-control btn btn-primary">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="tab-pane fade show active" id="v-pills-2" role="tabpanel" aria-labelledby="v-pills-performance-tab">
                        <form action="/Activity/Index" class="search-destination" method="post">
                            <div class="row">
                                <div class="col-md align-items-end">
                                    <div class="form-group">
                                        <label for="#">目的地</label>
                                        <div class="form-field">
                                            <div class="icon"><span class="icon-map-marker"></span></div>
                                            <input type="text" name="destination" class="form-control" placeholder="您的目的地">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md align-items-end">
                                    <div class="form-group">
                                        <label for="#">开始日期</label>
                                        <div class="form-field">
                                            <div class="icon"><span class="icon-map-marker"></span></div>
                                            <input type="text" name="start_time" class="form-control checkin_date" placeholder="活动开始日期">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md align-items-end">
                                    <div class="form-group">
                                        <label for="#">结束日期</label>
                                        <div class="form-field">
                                            <div class="icon"><span class="icon-map-marker"></span></div>
                                            <input type="text" name="end_time" class="form-control checkout_date" placeholder="活动结束日期">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md align-items-end">
                                    <div class="form-group">
                                        <label name="person_num" for="person_num">人数</label>
                                        <div class="form-field">
                                            <div class="select-wrap">
                                                <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                                                <select name="person_num" id="person_num" class="form-control">
                                                    <option value="1" selected>1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">5</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md align-self-end">
                                    <div class="form-group">
                                        <div class="form-field">
                                            <input type="submit" value="搜索" class="form-control btn btn-primary">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="ftco-section  testimony-section" style="background-image: url(../images/Favor_bg.jpg);background-color:transparent" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row">
            <div class="col-lg">
                <div class="row">
                    <div class="container ftco-section testimony-section" style="background-color:transparent">
                        <div class="row ftco-animate">
                            <div class="col-md-12">
                                <div class="carousel-testimony owl-carousel ftco-owl">
                                    @{
                                        if (ViewBag.returnList != null)
                                        {
                                            for (int i = 0; i < ViewBag.returnList.Length; i++)
                                            {
                                                <div class="item">
                                                    <div class="testimony-wrap p-4 pb-5">
                                                        <a href="~/Activity/SingleActivity?productID=@ViewBag.returnList[i].activity_id">
                                                            <div class="user-img mb-5" style="background-image: url(@ViewBag.returnList[i].activity_pictures)">
                                                            </div>
                                                            <div class="text p-3">
                                                                <div class="d-flex">
                                                                    <div>
                                                                        <div id="picture" class="img img-2 d-flex justify-content-center align-items-center" style="background-image: url(@ViewBag.returnList[i].activity_pictures);">
                                                                        </div>
                                                                        <h5 style="color:#FFFFFF">@ViewBag.returnList[i].activity_name</h5>
                                                                        <p class="rate">
                                                                            <i class="icon-star"></i>
                                                                            <span>人数:@ViewBag.returnList[i].max_member_limit 人</span>
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                                <div>@ViewBag.returnList[i].address</div>
                                                                <hr />
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                            }

                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 一个活动 -->

                </div> <!-- .col-md-8 -->
            </div>
        </div>
    </div>

</section> <!-- .section -->
