@{
    ViewBag.Title = "体验活动";
}

<script>

</script>

<div class="hero-wrap js-fullheight" style="background-image: url(../../images/bg_1.jpg);">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center" data-scrollax-parent="true">
            <div class="col-md-9 text-center ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
                <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">
                    <span class="mr-2"> @Html.ActionLink("主页", "Index", "Home")</span>
                    <span>活动</span>
                </p>
                <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">体验活动</h1>
            </div>
        </div>
    </div>
</div>

<section class="ftco-section">
    <div class="container">
        <div class="row">
            <!-- 搜索 -->
            <div class="col-lg-3 sidebar order-md-last ftco-animate">
                <div class="sidebar-wrap ftco-animate">
                    <h3 class="heading mb-4">活动搜索</h3>
                    <form action="#">
                        <div class="fields">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Destination, City">
                            </div>
                            <div class="form-group">
                                <div class="select-wrap one-third">
                                    <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                                    <select name="" id="" class="form-control" placeholder="Keyword search">
                                        <option value="">上海</option>
                                        <option value="">北京</option>
                                        <option value="">杭州</option>
                                        <option value="">京都</option>
                                        <option value="">洛杉矶</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="text" id="checkin_date" class="form-control checkin_date" placeholder="Date from">
                            </div>
                            <div class="form-group">
                                <input type="text" id="checkout_date" class="form-control checkout_date" placeholder="Date to">
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Search" class="btn btn-primary py-3 px-5">
                            </div>
                        </div>
                    </form>
                </div>
                <!--
        <div class="sidebar-wrap ftco-animate">
            <h3 class="heading mb-4">星级</h3>
            <form method="post" class="star-rating">
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">
                        <p class="rate"><span><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i></span></p>
                    </label>
                </div>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">
                        <p class="rate"><span><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star-o"></i></span></p>
                    </label>
                </div>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">
                        <p class="rate"><span><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star-o"></i><i class="icon-star-o"></i></span></p>
                    </label>
                </div>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">
                        <p class="rate"><span><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star-o"></i><i class="icon-star-o"></i><i class="icon-star-o"></i></span></p>
                    </label>
                </div>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">
                        <p class="rate"><span><i class="icon-star"></i><i class="icon-star-o"></i><i class="icon-star-o"></i><i class="icon-star-o"></i><i class="icon-star-o"></i></span></p>
                    </label>
                </div>
            </form>
        </div>
            -->
            </div>
            <!-- END -->

            <div class="col-lg-9">
                <div class="row">
                        <div class="container ftco-section testimony-section">
                            <div class="row ftco-animate">
                                <div class="col-md-12">
                                    <div class="carousel-testimony owl-carousel ftco-owl">
                                        <div class="item">
                                            <div class="testimony-wrap p-4 pb-5">
                                                <div class="user-img mb-5" style="background-image: url(../images/person_1.jpg)">
                                                    <span class="quote d-flex align-items-center justify-content-center">
                                                        <i class="icon-quote-left"></i>
                                                    </span>
                                                </div>
                                                <div class="text">
                                                    <p class="mb-5">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                                                    <p class="name">1</p>
                                                    <span class="position">Marketing Manager</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="testimony-wrap p-4 pb-5">
                                                <div class="user-img mb-5" style="background-image: url(../images/person_2.jpg)">
                                                    <span class="quote d-flex align-items-center justify-content-center">
                                                        <i class="icon-quote-left"></i>
                                                    </span>
                                                </div>
                                                <div class="text">
                                                    <p class="mb-5">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                                                    <p class="name">2</p>
                                                    <span class="position">Interface Designer</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="testimony-wrap p-4 pb-5">
                                                <div class="user-img mb-5" style="background-image: url(../images/person_3.jpg)">
                                                    <span class="quote d-flex align-items-center justify-content-center">
                                                        <i class="icon-quote-left"></i>
                                                    </span>
                                                </div>
                                                <div class="text">
                                                    <p class="mb-5">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                                                    <p class="name">3</p>
                                                    <span class="position">UI Designer</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="testimony-wrap p-4 pb-5">
                                                <div class="user-img mb-5" style="background-image: url(../images/person_1.jpg)">
                                                    <span class="quote d-flex align-items-center justify-content-center">
                                                        <i class="icon-quote-left"></i>
                                                    </span>
                                                </div>
                                                <div class="text">
                                                    <p class="mb-5">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                                                    <p class="name">4</p>
                                                    <span class="position">Web Developer</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="testimony-wrap p-4 pb-5">
                                                <div class="user-img mb-5" style="background-image: url(../images/person_1.jpg)">
                                                    <span class="quote d-flex align-items-center justify-content-center">
                                                        <i class="icon-quote-left"></i>
                                                    </span>
                                                </div>
                                                <div class="text">
                                                    <p class="mb-5">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                                                    <p class="name">5</p>
                                                    <span class="position">System Analyst</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="testimony-wrap p-4 pb-5">
                                                <div class="user-img mb-5" style="background-image: url(../images/person_1.jpg)">
                                                    <span class="quote d-flex align-items-center justify-content-center">
                                                        <i class="icon-quote-left"></i>
                                                    </span>
                                                </div>
                                                <div class="text">
                                                    <p class="mb-5">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                                                    <p class="name">6</p>
                                                    <span class="position">System Analyst</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="testimony-wrap p-4 pb-5">
                                                <a href="Activity\SingleActivity">
                                                    <div class="user-img mb-5" style="background-image: url(../../images/destination-1.jpg)">

                                                    </div>
                                                    <div class="text p-3">
                                                        <div class="d-flex">
                                                            <div>
                                                                <div id="picture" class="img img-2 d-flex justify-content-center align-items-center" style="background-image: url(../../images/destination-1.jpg);">
                                                                </div>
                                                                <h5 style="color:#FFFFFF">法式风情｜上海老城早午餐与隐秘探店</h5>
                                                                <p class="rate">
                                                                    <i class="icon-star"></i>
                                                                    <i class="icon-star"></i>
                                                                    <i class="icon-star"></i>
                                                                    <i class="icon-star"></i>
                                                                    <i class="icon-star-o"></i>
                                                                    <span>8 Rating</span>
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <div>上海</div>
                                                        <hr />
                                                    </div>
                                                </a>
                                            </div>

                                        </div>
                                            <div class="item">
                                                <div class="testimony-wrap p-4 pb-5">
                                                    <div class="user-img mb-5" style="background-image: url(../images/person_1.jpg)">
                                                        <span class="quote d-flex align-items-center justify-content-center">
                                                            <i class="icon-quote-left"></i>
                                                        </span>
                                                    </div>
                                                    <div class="text">
                                                        <p class="mb-5">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                                                        <p class="name">7</p>
                                                        <span class="position">System Analyst</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                </div>
                            </div>
                        </div>
                    <!-- 一个活动 -->

            </div> <!-- .col-md-8 -->
        </div>
    </div>

</section> <!-- .section -->
