@{
    ViewBag.Title = "发布体验活动";
}

<link rel="stylesheet" href="~/Content/Activity/paper-bootstrap-wizard.css" />

<script>

</script>

<style type="text/css">
    .choosed {
        border-style: dashed;
        border-color: antiquewhite;
    }
</style>

<div class="image-container set-full-height" style="background-image: url('../../images/bg_1.jpg');">

    <!-- Big container -->
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <!-- Wizard container -->
                <div class="wizard-container">
                    <div class="card wizard-card" id="wizard">

                        <div class="wizard-header">
                            <h3 class="wizard-title">发布体验活动</h3>
                            <hr />
                        </div>

                        <form id="new-act" action="#" method="post">
                            <!-- 创建新活动 -->
                            <div>
                                <div class="row">
                                    <div class="col-sm-5 col-sm-offset-1" style="margin-left:auto; margin-right:auto;">
                                        <div class="form-group">
                                            <label>活动地点</label>
                                            <input type="text" maxlength="50" class="form-control" name="???" placeholder="" required="required">
                                        </div>
                                    </div>
                                    <div class="col-sm-5 col-sm-offset-1" style="margin-left:auto; margin-right:auto;">
                                        <div class="form-group">
                                            <label>活动标题</label>
                                            <input type="text" maxlength="100" class="form-control" name="???" placeholder="" required="required">
                                        </div>
                                    </div>
                                    <div class="col-sm-5 col-sm-offset-1" style="margin-left:auto; margin-right:auto;">
                                        <div class="form-group">
                                            <label>名额</label>
                                            <input type="number" class="form-control" name="???" required="required"
                                                   onkeyup="if (this.value.length == 1) { this.value = this.value.replace(/[^1-9]/g, '') }else { this.value = this.value.replace(/\D/g, '') }"
                                                   onafterpaste="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}">
                                        </div>
                                    </div>
                                    <div class="col-sm-5 col-sm-offset-1" style="margin-left:auto; margin-right:auto;">
                                        <div class="form-group">
                                            <label>活动内容</label>
                                            <textarea maxlength="400" class="form-control" name="???" required="required"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-sm-5 col-sm-offset-1" style="margin-left:auto; margin-right:auto;">
                                        <div class="form-group">
                                            <label>活动注意事项</label>
                                            <textarea maxlength="150" class="form-control" name="???" required="required"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-sm-5 col-sm-offset-1" style="margin-left:auto; margin-right:auto;">
                                        <div class="form-group">
                                            <label>取消预订政策</label>
                                            <textarea maxlength="150" class="form-control" name="???" required="required"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-sm-5 col-sm-offset-1" style="margin-left:auto; margin-right:auto;">
                                        <div class="form-group">
                                            <label>图片/一张</label>
                                            <input type="file" accept="image/*" class="form-control" name="???" required="required">
                                        </div>
                                    </div>
                                    <div class="col-sm-8 col-sm-offset-2" style="margin-left:auto; margin-right:auto;">
                                        <div class="form-group">
                                            <button type="submit" class="form-control">发布</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- 创建新活动 END -->
                        </form>

                        <form id="add-instance" action="#" method="post">
                            <!-- 创建活动实例 -->
                            <div>
                                <div class="row">
                                    <div class="col-sm-5 col-sm-offset-1" style="margin-left:auto; margin-right:auto;">
                                        <div class="form-group">
                                            <label>开始时间</label>
                                            <input type="date" id="start-time" class="form-control" name="???" required="required">
                                        </div>
                                    </div>
                                    <div class="col-sm-5 col-sm-offset-1" style="margin-left:auto; margin-right:auto;">
                                        <div class="form-group">
                                            <label>结束时间</label>
                                            <input type="date" id="end-time" class="form-control time-input" name="???" required="required">
                                        </div>
                                    </div>
                                    <div class="col-sm-5 col-sm-offset-1" style="margin-left:auto; margin-right:auto;">
                                        <div class="form-group">
                                            <label>价格/人</label>
                                            <div class="input-group">
                                                <input type="number" class="form-control" name="???" required="required"
                                                       onkeyup="if (this.value.length == 1) { this.value = this.value.replace(/[^1-9]/g, '') }else { this.value = this.value.replace(/\D/g, '') }"
                                                       onafterpaste="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}">
                                                <span class="input-group-addon"> ￥ </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-8 col-sm-offset-2" style="margin-left:auto; margin-right:auto;">
                                        <div class="form-group">
                                            <button type="submit" class="form-control">发布</button>
                                        </div>
                                    </div>
                                    <div id="delete-button" class="col-sm-8 col-sm-offset-2" style="margin-left:auto; margin-right:auto;">
                                        <div class="form-group">
                                            <button id="delete-button" class="form-control">取消</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- 创建活动实例 END -->
                        </form>

                    </div>
                </div>
                <!-- wizard container -->
            </div>

            <div class="col-sm-4">
                <!-- wizard container -->
                <div class="wizard-container">
                    <div class="card wizard-card" id="wizard">

                        <div class="wizard-header">
                            <h3 class="wizard-title">已有体验活动</h3>
                            <hr />
                            <p class="category">在已有体验活动中选择一个，为其增加活动时间</p>
                        </div>

                        <label class="activity" style="margin-left:auto; margin-right:auto;">
                            <b>法式风情｜上海老城早午餐与隐秘探店</b>
                        </label>

                    </div>
                </div>
                <!-- wizard container -->
            </div>

        </div>
        <!-- row -->
    </div>
    <!--  big container -->

</div>

<script>

    $(function () {
        var $newAct = $('#new-act');
        var $addInstance = $('#add-instance');
        var $choosedActivity;
        $newAct.show();
        $addInstance.hide();

        $('.activity').on('click', function () {

            $newAct.hide();
            $addInstance.show();
            $(this).addClass('choosed');
            $choosedActivity = $(this);
            document.getElementById('add-instance').reset();
        });

        $('#delete-button').on('click', function () {
            $newAct.show();
            $addInstance.hide();
            $choosedActivity.removeClass('choosed');
            document.getElementById('new-act').reset();
        });
    });

    $(function () {
        var date = new Date();
        var today = date.getFullYear();
        today += "-";
        today += date.getMonth() + 1 < 10 ? "0" + (date.getMonth() + 1) : (date.getMonth() + 1);
        today += "-";
        today += date.getDate() < 10 ? "0" + date.getDate() : date.getDate();
        $('#start-time').attr('min', today);
        $('#end-time').attr('min', today);

        $('#start-time').change(function () {
            $('#end-time').attr('min', $(this).val());
        });
    });



</script>
